@{ 
  Layout = null;
}
<h3>순수 HTML로 링크 만들기</h3>
<ul>
  <li><a href="/TagHelperDemo/EnvironmentDemo">태그</a></li>
</ul>

<h3>태그헬터로 링크 만들기</h3>
<ul>
  <li><a asp-action="EnvironmentDemo">액션</a></li>
  <li><a asp-controller="TagHelperDemo" asp-action="EnvironmentDemo">액션</a></li>
</ul>